.performance {
    grid-area: performance;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

