.main-container {
    flex: 1 1 0;
    margin: auto;
    padding: 20px;
    max-width: 1280px;

    .profile {
        h1 {
            font-size: 48px;
            span {
                color: red;
            }
        }
        p {
            padding-bottom: 20px;
            font-size: 18px;
        }
    }
}

.container {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) 260px;
    grid-template-areas:
        'activity     activity        activity    information-list'
        'sessions     performance     score       information-list';

    @media (max-width: 1400px) {
        gap: 15px;
    }
}
