.nav-bar {
    grid-area: top;
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
}
